<nav class="navbar">
    <ul>
        <li class="has-submenu">Services
            <div><ul>
                <li><a href="{{ path('aamv_site_services_ads_list', {type: 'assistantes'}) }}">Petites annonces</a></li>
                <li><a href="{{ path('aamv_site_services_ads_list', {type: 'assistantes'}) }}">Disponibilité des assistantes</a></li>
                <li><a href="{{ path('aamv_site_services_outils') }}">Les outils</a></li>
                <hr>
            </ul></div>
        </li>
        {% if app.user %}
        <li class="has-submenu">Gérer mon compte
            <div><ul>
                <li><a href="{{ path('aamv_site_manage_account') }}">Modifier mon compte</a></li>
                <li><a href="{{ path('aamv_site_manage_ads') }}">Gérer mes annonces</a></li>
                <li><a href="{{ path('aamv_site_manage_disponibilities') }}">Formulaire de disponibilité</a></li>
                {% if 'ROLE_ADMIN' in app.user.roles %}
                    <li><a href="/admin">Administration</a></li>
                {% endif %}
                <hr>
            </ul></div>
        </li>
        {% endif %}
        <li class="has-submenu">Divers
            <div><ul>
                <li><a href="{{ path('aamv_site_divers_articles') }}">Tout savoir sur ...</a></li>
                <li><a href="{{ path('aamv_site_divers_questions_reponses') }}">Questions/Réponses</a></li>
                <li><a href="{{ path('aamv_site_divers_addresses') }}">Bonnes adresses</a></li>
                <li><a href="{{ path('aamv_site_divers_sites') }}">Sites utiles</a></li>
                <hr>
            </ul></div>
        </li>
        <li class="has-submenu">L'association
            <div><ul>
                <li><a href="{{ path('aamv_site_association_presentation') }}">Qui sommes nous ?</a></li>
                <li><a href="{{ path('aamv_site_association_join') }}">Nous rejoindre</a></li>
                <li><a href="{{ path('aamv_site_association_photos') }}">Photos</a></li>
                <li><a href="{{ path('aamv_site_association_about_us') }}">On en parle</a></li>
                <hr>
            </ul></div>
        </li>
        <li><a href="{{ path('aamv_site_contacts') }}">Contacts</a></li>
        {% if app.user %}
        <li><a href="/logout">Déconnexion</a></li>
        {% else %}
            <li><a href="/register">Inscription</a></li>
            <li><a href="/login">Connexion</a></li>
        {% endif %}

        <hr>
    </ul>
</nav>