<nav>
    <ul>
        <li>Services
            <ul>
                <li><a href="{{ path('aamv_site_services_ads') }}">Petites annonces</a></li>
                <li><a href="{{ path('aamv_site_services_outils') }}">Outils pour les assistantes maternelles</a></li>
                <li><a href="{{ path('aamv_site_services_questions_reponses') }}">Questions/Réponses</a></li>
            </ul>
        </li>

        <li>Divers
            <ul>
                <li><a href="{{ path('aamv_site_divers_articles') }}">Articles détaillés</a></li>
                <li><a href="{{ path('aamv_site_divers_adresses') }}">Bonnes adresses</a></li>
                <li><a href="{{ path('aamv_site_divers_sites_utiles') }}">Sites utiles</a></li>
            </ul>
        </li>

        <li>L'association
            <ul>
                <li><a href="{{ path('aamv_site_association_presentation') }}">Qui sommes nous ?</a></li>
                <li><a href="{{ path('aamv_site_association_photos') }}">Photos</a></li>
                <li><a href="{{ path('aamv_site_association_parle') }}">On en parle</a></li>
            </ul>
        </li>

        <li><a href="{{ path('aamv_site_contacts') }}">Contacts</a></li>

        <li><a href="http://forum.aamv.net/">Forum</a></li>

        <hr>

    </ul>
</nav>