<div id="pagination">
    {% if pagination.page > 1 %}
        {% if pagination.page > 2 %}
            <a href="{{ path(pagination.route, {'page': 1}) }}">
                <<
            </a>
        {% endif %}
        <a href="{{ path(pagination.route, {'page': pagination.page-1}) }}">
            <
        </a>
    {% endif %}

    {% for p in range(max(pagination.page-4, 1), max(min(pagination.page + 4, pagination.pages_count), 1)) %}
        {% if p == pagination.page %}
            <span class="current-page">{{ p }}</span>
        {% else %}
            <a href="{{ path(pagination.route, {'page': p}) }}">{{ p }}</a>
        {% endif %}
    {% endfor %}

    {% if pagination.page < pagination.pages_count %}
        <a href="{{ path(pagination.route, {'page': pagination.page+1}) }}">
            >
        </a>
        {% if pagination.page < pagination.pages_count - 1 %}
            <a href="{{ path(pagination.route, {'page': pagination.pages_count}) }}">
                >>
            </a>
        {% endif %}
    {% endif %}
</div>