{% extends "@AppBundle/Base/base.html.twig" %}

{% block title %}News - Administration - {{ parent() }}{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/css/Homepage/index.css') }}">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css">
{% endblock css %}

{% block body %}
    <h2><a href="{{ path('admin') }}">Administration</a> / <a href="{{ path('admin_news') }}">Disponibilités</a> / Ajouter</h2>

    {{ form(form) }}
{% endblock %}

{% block javascripts %}
    <span id="cities-api-url" data-url="{{ path('api_cities', {name: '__SEARCH__'}) }}"></span>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
    <script src="{{ asset('bundles/app/js/cities.js') }}"></script>
{% endblock javascripts %}
