{% extends "AppBundle:Base:base.html.twig" %}

{% block title %}Modifier mon compte - {{ parent() }}{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/css/Base/login.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('vendor/select2/dist/css/select2.min.css') }}">
{% endblock css %}

{% block body %}
    <h2 class="main">Modifier mon compte</h2>

    <h3>Profil de {{ app.user.username }}</h3>

    {% for flash in app.session.flashbag.get('management.account.success') %}
        <div class="alert alert-success">{{ flash }}</div>
    {% endfor %}

    {{ form(form) }}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
    <script src="{{ asset('vendor/select2/dist/js/select2.min.js') }}"></script>
    <script src="{{ asset('vendor/select2/dist/js/i18n/fr.js') }}"></script>
    <script src="{{ asset('bundles/app/js/cities.js') }}"></script>
{% endblock javascripts %}
