{% extends "@AppBundle/Base/base.html.twig" %}

{% block title %}Outils - {{ parent() }}{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/css/Services/create_ad.css') }}">
{% endblock css %}

{% block body %}
    <h2 class="main">Créer une annonce</h2>

    {{ form_start(form) }}
        {{ form_row(form.title) }}
        {{ form_row(form.content) }}
        {% if is_granted('ROLE_TRAINEE') and not is_granted('ROLE_ADMIN') %}<div class="d-none">{% endif %}
            {{ form_row(form.disponibilityDate, {'date_pattern': '<span style="display: none;">{{ day }}</span> {{ month }} <span class="delim">/</span> {{ year }}'}) }}
            {{ form_row(form.wishedDays) }}
            {{ form_row(form.type) }}
        {% if is_granted('ROLE_TRAINEE') and not is_granted('ROLE_ADMIN') %}</div>{% endif %}
        {{ form_row(form.showPhoneNumber) }}
        {{ form_row(form.showEmail) }}
        {{ form_row(form.submit) }}
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    <script src="https://cdn.ckeditor.com/4.22.1/standard/ckeditor.js"></script>
{% endblock javascripts %}
