{% extends "AppBundle:Base:base.html.twig" %}

{% block title %}Outils - Administration - {{ parent() }}{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/css/Homepage/index.css') }}">
{% endblock css %}

{% block body %}
    <h2><a href="{{ path('admin') }}">Administration</a> / <a href="{{ path('admin_tools') }}">Outils</a> / <a href="{{ path('admin_categories') }}">Catégorie</a> / Ajouter</h2>

    {{ form(form) }}
{% endblock %}
