<div id="nav">
    <ul>
        <li>News
            <ul>
                <li><a href='{{ path('aamv_site_news_association') }}'>L'Association</a></li>
                <li><a href='{{ path('aamv_site_news_reunions') }}'>Ses Réunions</a></li>
            </ul>
        </li>

        <li>L'association
            <ul>
                <li><a href="{{ path('aamv_site_association_presentation') }}">Présentation</a></li>
                <li><a href="{{ path('aamv_site_association_historique') }}">Historique</a></li>
                <li><a href="{{ path('aamv_site_association_objectifs') }}">Objectifs</a></li>
                <li><a href="{{ path('aamv_site_association_services_am') }}">Services A.M</a></li>
                <li><a href="{{ path('aamv_site_association_services_parents') }}">Services Parents</a></li>
                <li><a href="{{ path('aamv_site_association_adhesion') }}">Bulletin d'Adhésion</a></li>
            </ul>
        </li>

        <li>Services
            <ul>
                <li><a href=''>Petites Annonces</a></li>
                <li><a href='liste.html'>Liste d'Assistantes Maternelles</a></li>
                <li><a href=''>Assistantes Maternelles de Villeneuve d'Ascq</a></li>
                <li><a href=''>Autorisation</a></li>
                <li><a href=''>Questions/Réponses</a></li>
            </ul>
        </li>

        <li>Outils
            <ul>
                <li><a href=''>Outils</a></li>
                <li><a href=''>Formulaires</a></li>
                <li><a href=''>Bulletin de Salaire</a></li>
            </ul>
        </li>

        <li>Informations
            <ul>
                <li><a href=''>Tout savoir sur ...</a></li>
                <li><a href=''>Adresses</a></li>
                <li><a href=''>A voir</a></li>
            </ul>
        </li>

        <li>Contacts
            <ul>
                <li><a href=''>Une demande</a></li>
                <li><a href=''>Nous contacter</a></li>
            </ul>
        </li>

        <li><a href='forum'>Forum</a></li>

        <hr>

    </ul>
</div>