{% extends "AamvDefaultBundle::base.html.twig" %}

{% block title %}{{ title }} - {{ parent() }}{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/aamvsite/css/Publishables/list.css') }}">
{% endblock css %}

{% block body %}
    <h2>{{ title }}</h2>

    {% for publishable in publishables %}
        <article>
            <a href=""><header>{{ publishable.title }}</header></a>
            <section>{{ publishable.content|raw|slice(0, 200) }} {% if publishable.content|length > 200 %}... <a href="">Lire la suite</a>{% endif %}</section>
            <footer>Publiée par <a href="" class="author">{{ publishable.author.firstname }} {{ publishable.author.name }}</a>, le {{ publishable.createdAt|localizeddate('full', 'none') }}</footer>
        </article>
    {% endfor %}

    {% include 'AamvDefaultBundle::pagination.html.twig' %}
{% endblock body %}