<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="La référence des assistantes maternelles agréées de Villeneuve d'Ascq et du Nord - Pas de Calais  - Informations, contacts, conseils, écoute, réponses à vos questions, forum, petites annonces ...">
        <meta name="keywords" content="Assistante Maternelle, Assistantes Maternelles, Nourrice, Nounou, Garde d'enfant, Garde, Enfant, Association, Crèche, Relais, PMI, Famille, Parents, Maman, Enfant, Bébé, Enfance, AAMV, Assmat, Assistantes, Maternelles, Assistante, Maternelle, Nord, Villeneuve d'Ascq, Villeneuve, Ascq, Chereng, Tressin, Annappes, Gruson, Willems, Baisieux, Bouvines, Flers, Triolo, Sainghin, Cysoing, Forest sur Marque, Lille, Roubaix, Tourcoing, Cherche, Bebe, Métier assistante, Métier, Travail, Baby">
        <title>{% block title %}AAMV{% endblock %}</title>

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('vendor/bootstrap/dist/css/bootstrap.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('vendor/jquery-ui/themes/base/jquery-ui.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/css/Base/defaults.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/css/Base/pagination.css') }}">
        <link href='https://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Asap:400,700,400italic,700italic' rel='stylesheet' type='text/css'>

        {% block css %}{% endblock css %}
    </head>
    
    <body>
        <div class="container">
            {% include 'AppBundle:Base:header.html.twig' %}
            {% include 'AppBundle:Base:nav.html.twig' %}

            <div id="body" class="col-md-12">
                {% if app.user is not null %}
                    {% set oldAds = app.user.oldAds %}
                    {% if oldAds|length > 0 %}
                        <div class="alert alert-warning">
                            <p>
                                <i class="glyphicon glyphicon-alert"></i>
                                Attention, une ou plusieurs des vos annonces sont trop anciennes. Celles-ci ne sont donc
                                plus visibles sur le site. Voici les liens sur lesquels vous rendre pour les revalider :
                            </p>

                            <ul class="with-type">
                                {% for oldAd in oldAds %}
                                    <li><a href="{{ path('manage_ad_edit', {id: oldAd.id}) }}">{{ oldAd.title }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                {% endif %}

                {% block body %}{% endblock %}
            </div>

            {% include 'AppBundle:Base:footer.html.twig' %}

            <script src="{{ asset('vendor/jquery/dist/jquery.min.js') }}"></script>
            <script src="{{ asset('vendor/jquery-ui/jquery-ui.min.js') }}"></script>

            {% if app.session.getFlashBag.has('authentication.legacy') and app.session.getFlashBag.get('authentication.legacy') == true %}
                <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
                <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
                <script src="{{ asset('bundles/app/js/base.js') }}"></script>
            {% endif %}

            {% block javascripts %}{% endblock %}
        </div>
    </body>
</html>
