<footer class="col-md-12">
    <div class="int clearfix">
        <p>
            Télécharger les <a href="{{ path('files_terms') }}">conditions générales d'utilisation du site</a>
            | <a href="{{ path('association_privacy') }}">Politique de confidentialité</a>
            | <a href="{{ path('association_legal') }}">Mentions légales</a>
        </p>
        <hr>
        <div class="col-md-6">
            <h4>Nos partenaires</h4>
                <img src="{{ asset('bundles/app/images/nord.png') }}" alt="Logo du département du nord">
                <img src="{{ asset('bundles/app/images/villeneuve.jpg') }}" alt="Logo de la ville de Villeneuve d'Ascq">
        </div>
        <div class="col-md-6">
            <h4>Réalisation</h4>
            <ul>
                <li>Développement : Damien Deconinck / 2016-2019</li>
                <li>Graphisme : Damien Deconinck / 2016-2019</li>
            </ul>
        </div>
    </div>
</footer>