{% extends "AppBundle:Base:base.html.twig" %}

{% block title %}Administration - {{ parent() }}{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/css/Homepage/index.css') }}">
{% endblock css %}

{% block body %}
    <h2>Administration</h2>

    {% for flash in app.session.flashbag.get('admin.success') %}
        <div class="alert alert-success">{{ flash }}</div>
    {% endfor %}

    <p>Bienvenue sur l'interface d'administration du site AAMV.</p>
    <p>Que souhaitez vous faire?</p>

    <hr>
    <ul>
        <li><a href="{{ path('admin_news') }}">Gérer les news</a></li>
    </ul>

    <hr>
    <ul>
        <li><a href="{{ path('admin_disponibilities') }}">Gérer les disponibilités</a></li>
        <li><a href="{{ path('admin_users') }}">Gérer les utilisateurs</a></li>
    </ul>

    <hr>
    <ul>
        <li><a href="{{ path('admin_tool_categories') }}">Gérer les catégories d'outils</a></li>
        <li><a href="{{ path('admin_tools') }}">Gérer les outils</a></li>
    </ul>

    <hr>
    <ul>
        <li><a href="{{ path('admin_doc_categories') }}">Gérer les catégories de documents</a></li>
        <li><a href="{{ path('admin_docs') }}">Gérer les documents</a></li>
    </ul>

    <hr>
    <ul>
        <li><a href="{{ path('admin_files_join') }}">Gérer le formulaire d'adhésion</a></li>
        <li><a href="{{ path('admin_files_disponibility') }}">Gérer le formulaire des disponibilités</a></li>
    </ul>
{% endblock %}
