{% extends "AppBundle:Base:base.html.twig" %}

{% block title %}Inscription - {{ parent() }}{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/css/Base/register.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('vendor/select2/dist/css/select2.min.css') }}">
{% endblock css %}

{% block body %}
    <h2 class="main">Inscription</h2>

    <div class="alert alert-warning">
        <i class="glyphicon glyphicon-alert"></i>
        Si vous êtes membre de l'association <b>A.A.M.V</b>. en 2018, et que vous possédiez un compte sur l'ancien site,
        sachez que celui-ci a été transféré sur le nouveau site. vous pouvez donc vous rendre directement sur la page
        de <a href="{{ path('login') }}">connexion</a>, et y inscrire vos identifiants de l'ancien site. Si jamais vous
        avez oublié vos identifiants, rendez-vous simplement sur <a href="{{ path('forgot_password') }}">mot de passe
        oublié</a> pour y trouver la procédure à suivre.
    </div>

    {{ form(form) }}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
    <script src="{{ asset('vendor/select2/dist/js/select2.min.js') }}"></script>
    <script src="{{ asset('vendor/select2/dist/js/i18n/fr.js') }}"></script>
    <script src="{{ asset('bundles/app/js/cities.js') }}"></script>
{% endblock javascripts %}
