{% extends "@AppBundle/Base/base.html.twig" %}

{% block title %}Inscription - {{ parent() }}{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/css/Base/register.css') }}">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css">
{% endblock css %}

{% block body %}
    <h2 class="main">Inscription</h2>

    <div class="alert alert-warning">
        <i class="bi bi-exclamation-triangle"></i>
        Si la ville dans laquelle vous résidez n'apparait pas dans le champ de recherche en bas de ce formulaire, c'est probablement
        qu'elle possède un orthographe particulier.<br>
        Par exemple pour Villeneuve d'Ascq, il faut indiquer "Villeneuve-d'Ascq", le tiret est très important !
    </div>

    {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.firstname) }}
        {{ form_row(form.phoneNumber) }}
        {{ form_row(form.email) }}
        {{ form_row(form.plainPassword) }}
        {{ form_row(form.role) }}
        {{ form_row(form.city) }}
        {{ form_row(form.neighborhood) }}

        <div class="mb-3">
            <div class="form-check">
                <label class="form-check-label">
                    {{ form_widget(form.rgpdConsent, {'attr': {'class': 'form-check-input'}}) }}
                    J'accepte la <a href="{{ path('association_privacy') }}" target="_blank">politique de confidentialité</a>
                    et le traitement de mes données personnelles.
                </label>
            </div>
            {{ form_errors(form.rgpdConsent) }}
        </div>

        {{ form_row(form.submit) }}
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    <span id="cities-api-url" data-url="{{ path('api_cities', {name: '__SEARCH__'}) }}"></span>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/i18n/fr.js"></script>
    <script src="{{ asset('bundles/app/js/cities.js') }}"></script>
{% endblock javascripts %}
