{% extends "AppBundle:Base:base.html.twig" %}

{% block title %}Accueil - {{ parent() }}{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/css/Homepage/index.css') }}">
    <link rel="canonical" href="https://aamv.net" />
{% endblock css %}

{% block body %}
    {% for flash in app.session.flashbag.get('management.legacy_password.success') %}
        <div class="alert alert-success">{{ flash }}</div>
    {% endfor %}

    <h2 class="main">Bienvenue</h2>

    <p>Bienvenue sur le site de l'<b>A.A.M.V.</b>, l'<b>Association des Assistantes Maternelles Villeneuvoises</b> et des Parents et ses Environs.</p>
    <p>Vous trouverez des outils utiles aux assistantes maternelles et aux parents, des propositions de sorties pour les assistantes maternelles, des informations sur des évènements à venir...</p>
    <p>Mais surtout, vous y trouverez une section <a href="{{ path('services_ads_index') }}">ANNONCES</a>, qui contient des annonces d'<b>assistantes maternelles</b> et de <b>parents</b>, pour accueillir ou faire accueillir ses enfants.</p>

    <h2 class="main">News</h2>

    <div id="news">
        {% for new in news %}
        <a href="{{ path('homepage_new', {'id': new.id}) }}">
            <div class="new{% if new.important %} important{% endif %}{% if pagination.page == 1 and loop.index0 == 0 %} first{% endif %}">
                <div class="title">
                    <h3>{{ new.title|raw|slice(0, 150) }} {% if new.title|length > 150 %}...{% endif %}</h3>
                </div>
            </div>
        </a>
        {% endfor %}

        <hr class="clear">
    </div>

    {% include 'AppBundle:Base:pagination.html.twig' %}
{% endblock %}