<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}AAMV{% endblock %}</title>

    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/aamvdefault/css/bootstrap.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/aamvdefault/css/defaults.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/aamvdefault/css/pagination.css') }}">

    {% block css %}{% endblock css %}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/aamvdefault/css/login.css') }}">
</head>

<body>
{% include 'AamvDefaultBundle::header.html.twig' %}
{% include 'AamvDefaultBundle::nav.html.twig' %}

<div id="body">
    <div class="int">
        {% block fos_user_content %}{% endblock fos_user_content %}
        {% block javascripts %}{% endblock %}
    </div>
</div>

{% include 'AamvDefaultBundle::footer.html.twig' %}
</body>
</html>