{% extends "AppBundle:Base:base.html.twig" %}

{% block title %}Utilisateurs - Administration - {{ parent() }}{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/css/Admin/base.css') }}">
{% endblock css %}

{% block body %}
    <h2><a href="{{ path('admin') }}">Administration</a> / Utilisateurs</h2>

    {% for flash in app.session.flashbag.get('admin.user.error') %}
        <div class="alert alert-danger">{{ flash }}</div>
    {% endfor %}

    {% for flash in app.session.flashbag.get('admin.user.success') %}
        <div class="alert alert-success">{{ flash }}</div>
    {% endfor %}

    {% if users|length == 0 %}
        <div class="alert alert-warning">Il n'y a encore aucun utilisateur sur le site.</div>
    {% endif %}

    {% if users|length > 0 %}
        <form action={{ path('admin_users') }}>
            <div class="filters">
                <h3>Filtrer</h3>

                <div class="form-group">
                    <label for="email">Email :</label>
                    <input name="email" class="form-control" value={{ pagination.email }}>
                </div>

                <div class="form-group">
                    <label for="role">Role :</label>
                    <select name="role" class="form-control">
                        <option value="" {% if pagination.role == 'none' %}selected="selected"{% endif %}>Filtres possibles</option>
                        <option value="parent" {% if pagination.role == 'parent' %}selected="selected"{% endif %}>Liste des parents</option>
                        <option value="assistant" {% if pagination.role == 'assistante' %}selected="selected"{% endif %}>Liste des assistantes</option>
                        <option value="member" {% if pagination.role == 'member' %}selected="selected"{% endif %}>Liste des assistantes adhérentes</option>
                        <option value="not-member" {% if pagination.role == 'not-member' %}selected="selected"{% endif %}>Liste des assistantes non adhérentes</option>
                    </select>
                </div>

                <div class="form-group">
                    <button class="btn btn-success pull-right">Rechercher</button>
                </div>
            </div>
        </form>

        <h3>Liste</h3>

        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nom</th>
                    <th>Mail</th>
                    <th>Role</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>{{ user.fullname }}</td>
                        <td>{{ user.email }}</td>
                        <td>
                            {% if 'ROLE_MEMBER' in user.roles %}
                                <form method="POST" class="change" action="{{ path('admin_user_change', {"id": user.id}) }}">
                                    <input type="hidden" name="_method" value="PUT">
                                    <input type="hidden" name="role" value="{{ pagination.role }}">
                                    <input type="hidden" name="page" value="{{ pagination.page }}">
                                    <button class="btn btn-info btn-normal">Supprimer des membres de l'association</button>
                                </form>
                            {% elseif 'ROLE_ASSISTANT' in user.roles %}
                                <form method="POST" class="change" action="{{ path('admin_user_change', {"id": user.id}) }}">
                                    <input type="hidden" name="_method" value="PUT">
                                    <input type="hidden" name="role" value="{{ pagination.role }}">
                                    <input type="hidden" name="page" value="{{ pagination.page }}">
                                    <button class="btn btn-success btn-normal">Ajouter comme membre de l'association</button>
                                </form>
                            {% endif %}
                        </td>
                        <td>
                            <form method="POST" class="remove" action="{{ path('admin_user_delete', {"id": user.id}) }}">
                                <input type="hidden" name="_method" value="DELETE">
                                <input type="hidden" name="role" value="{{ pagination.role }}">
                                <input type="hidden" name="page" value="{{ pagination.page }}">
                                <button class="btn btn-danger btn-normal">Supprimer</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}

    {% include 'AppBundle:Base:pagination.html.twig' %}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('vendor/jquery-confirm/jquery.confirm.min.js') }}"></script>
    <script src="{{ asset('vendor/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/app/js/Admin/default.js') }}"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
{% endblock javascripts %}
