{% extends "@AppBundle/Base/base.html.twig" %}

{% block title %}Disponibilités - Administration - {{ parent() }}{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/css/Homepage/index.css') }}">
{% endblock css %}

{% block body %}
    <h2><a href="{{ path('admin') }}">Administration</a> / <a href="{{ path('admin_disponibilities') }}">Disponibilités</a> / {{ disponibility.childminder.fullname }}</h2>

    {{ form_start(form) }}
        <div class="hide">
            {{ form_row(form.childminder) }}
        </div>
        {{ form_row(form.numberOfChildren) }}
        {{ form_row(form.period) }}
        {{ form_row(form.submit) }}
    {{ form_end(form) }}
{% endblock %}
