{% extends "@AppBundle/Base/base.html.twig" %}

{% block title %}Accueil - {{ parent() }}{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/css/Homepage/index.css') }}">
{% endblock css %}

{% block body %}
    {% if ad.author == app.user %}
        <div class="alert alert-info">Modifier cette <a href="{{ path('manage_ad_edit', {id: ad.id}) }}">annonce</a>.</div>
    {% endif %}

    <div>
        <h3>Informations générales</h3>
        <div id="infos" class="col-md-12">

            <div class="col-md-6">
                <div class="row">
                    <label>Nom :</label>
                    <p>{{ ad.author.firstName }} {{ ad.author.name }}</p>
                </div>
                <div class="row">
                    <label>Ville :</label>
                    <p>{{ ad.author.city }}</p>
                </div>
                {% if 0 != ad.wishedDays|length %}
                <div class="row">
                    <label>Jours de la semaine :</label>
                    <p>{{ ad.wishedDays|join(', ') }}</p>
                </div>
                {% endif %}
            </div>

            <div class="col-md-6">
                {% if not ad.disponibilityDate is null %}
                <div class="row">
                    <label>Début de la garde :</label>
                    <p>{{ ad.disponibilityDate|localizeddate('long', 'none', 'fr', null, "MMMM yyyy")|capitalize }}</p>
                </div>
                {% endif %}
                {% if not ad.author.neighborhood is null %}
                <div class="row">
                    <label>Quartier :</label>
                    <p>
                        {{ ad.author.neighborhood }}
                    </p>
                </div>
                {% endif %}
                {% if "ROLE_PARENT" in ad.author.roles %}
                <div class="row">
                    <label>Horaires :</label>
                    <p>{{ ad.schedule }}</p>
                </div>
                {% endif %}
            </div>
        </div>

        <hr class="clear">
    </div>

    {% if ad.showPhoneNumber or ad.showEmail %}
    <div>
        <h3>Contact</h3>
        <div id="contact" class="col-md-12">
            {% if ad.showPhoneNumber %}
                <div class="col-md-6">
                    <div class="row">
                        <label>Numéro de téléphone :</label>
                        <p><button class="btn btn-info display-info">Afficher le numéro de téléphone</button></p>
                        <p class="button-related">{{ ad.author.phoneNumber }}</p>
                    </div>
                </div>
            {% endif %}

            {% if ad.showEmail %}
                <div class="col-md-6">
                    <div class="row">
                        <label>Adresse mail :</label>
                        <p><button class="btn btn-info display-info">Afficher l'adresse email</button></p>
                        <p class="button-related">{{ ad.author.email }}</p>
                    </div>
                </div>
            {% endif %}
        </div>

        <hr class="clear">
    </div>
    {% endif %}

    <div>
        <h3>{{ ad.title }}</h3>
        <div id='content' class="col-md-12">
            {{ ad.content|raw }}
        </div>

        <hr class="clear">
    </div>
    
    <div id="author">
        <p>Publiée le <strong>{{ ad.createdAt|localizeddate('long', 'none', 'fr') }}</strong> à <strong>{{ ad.createdAt|date('H:i') }}</strong></p>
    </div>
{% endblock %}
