{% extends "AppBundle:Base:base.html.twig" %}

{% block title %}Disponibilités - {{ parent() }}{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/css/Services/list.css') }}">
{% endblock css %}

{% block body %}
    <h2>Disponibilités</h2>

    {% if disponibilities|length > 0 %}
        <div class="city">
            <label for="city">Ville :</label>
            <select name="city" class="form-control">
                <option value="none" {% if city == 'none' %}selected="selected"{% endif %}>Villes disponible</option>
                {% for cityValue in cities %}
                    <option value="{{ cityValue }}" {% if city == cityValue %}selected="selected"{% endif %}>{{ cityValue }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="neighborhood">
            <label for="neighborhood">Quartier :</label>
            <select name="neighborhood" class="form-control">
                <option value="none" {% if neighborhood == 'none' %}selected="selected"{% endif %}>Quartier disponible</option>
                {% for neighborhoodValue in neighborhoods %}
                    <option value="{{ neighborhoodValue }}" {% if neighborhood == neighborhoodValue %}selected="selected"{% endif %}>{{ neighborhoodValue }}</option>
                {% endfor %}
            </select>
        </div>

        <div id="disponibilities">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>AssMat</th>
                        <th>Ville</th>
                        <th>Places</th>
                        <th>Période</th>
                        <th>Téléphone</th>
                        <th>Email</th>
                    </tr>
                </thead>
                <tbody>
                    {% for disponibility in disponibilities %}
                        <tr>
                            <td>{{ disponibility.childminder.fullname }}</td>
                            <td>{{ disponibility.childminder.city }}
                                {% if disponibility.childminder.neighborhood is not null %} / {{ disponibility.childminder.neighborhood }} {% endif %}
                            </td>
                            <td>{{ disponibility.numberOfChildren }}</td>
                            <td>{{ disponibility.period }}</td>
                            <td>{{ disponibility.childminder.phoneNumber }}</td>
                            <td>{{ disponibility.childminder.email }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            {% include 'AppBundle:Base:pagination.html.twig' %}
        </div>
    {% else %}
        <p class="nothing">Il n'y a actuellement pas de disponibilités sur le site.</p>
    {% endif %}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('vendor/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
    <script src="{{ asset('bundles/app/js/popover.js') }}"></script>
    <script src="{{ asset('bundles/app/js/list_disponibilities.js') }}"></script>
{% endblock javascripts %}
