{% extends "AppBundle:Base:base.html.twig" %}

{% block title %}Les Documents - {{ parent() }}{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/css/Services/tools.css') }}">
{% endblock css %}

{% block body %}
    <h2 class="main">Les documents</h2>

    {% if not is_granted('ROLE_MEMBER') %}
        <div class="alert alert-warning">Certains documents sont réservés aux membres de l'association. Si vous souhaitez
            accéder à tous nos documents, n'hésitez pas à rejoindre notre association.</div>
    {% endif %}

    {% if categories|length > 0 %}
        <div class="col-md-12">
            {% for type in categories %}
                {% if not type.forMembers or is_granted('ROLE_MEMBER') %}
                    <h3>{{ type.name }} - {{ type.year }}{% if type.forMembers %} - <b>Réservés aux membres de
                            l'association</b>{% endif %}</h3>

                    <table class="table table-hover">
                        {% for tool in type.tools %}
                            <tr class="row tool">
                                <td>{{ tool.name }}</td>
                                <td>
                                    <a href="{{ tool.path }}">
                                        <span class="glyphicon glyphicon-download"></span>
                                        Télécharger
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                {% endif %}
            {% endfor %}
        </div>
    {% else %}
        <div class="alert alert-warning">Il n'y a actuellement pas d'outils sur le site.</div>
    {% endif %}
{% endblock %}