{% extends "AppBundle:Base:base.html.twig" %}

{% block title %}Les outils - {{ parent() }}{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/css/Services/tools.css') }}">
{% endblock css %}

{% block body %}
    <h2 class="main">Les outils</h2>

    {% if tools|length == 0 and categories|length == 0 %}
        <div class="alert alert-warning">Il n'y a actuellement pas d'outils sur le site.</div>
    {% endif %}

    {% if tools|length > 0 %}
        <div class="col-md-12">
            <table class="table table-hover">
                {% for tool in tools %}
                    <tr class="row tool">
                        <td>{{ tool.fullname }}</td>
                        <td>
                            <a href="{{ tool.path }}">
                                <span class="glyphicon glyphicon-download"></span>
                                Télécharger
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% endif %}

    {% if categories|length > 0 %}
        <div class="col-md-12">
            {% for type in categories %}
                {% if not type.forMembers or is_granted('ROLE_MEMBER') %}
                    <h3>
                        {{ type.name }}
                        {% if type.forMembers %}- <b>Réservés aux membres de l'association</b>{% endif %}
                    </h3>

                    <table class="table table-hover">
                        {% for tool in type.tools %}
                            <tr class="row tool">
                                <td>{{ tool.fullname }}</td>
                                <td>
                                    <a href="{{ tool.path }}">
                                        <span class="glyphicon glyphicon-download"></span>
                                        Télécharger
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}