{% extends "AppBundle:Base:base.html.twig" %}

{% block title %}Les outils - {{ parent() }}{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/css/Services/tools.css') }}">
{% endblock css %}

{% block body %}
    <h2 class="main">Les outils</h2>

    {% if not is_granted('ROLE_MEMBER') and type == 'member' %}
        <div class="alert alert-warning">
            Ces outils sont réservés aux adhérents de l'association. Si vous souhaitez accéder à tous nos
            outils, n'hésitez pas à rejoindre notre association, et à vous <a href='https://aamv.net/register'>inscrire</a>/<a href='https://aamv.net/login'>connecter</a> sur le site afin d'y avoir accès.
        </div>
    {% endif %}

    {% if tools|length == 0 and categories|length == 0 %}
        <div class="alert alert-warning">Il n'y a actuellement pas d'outils {% if type == 'public' %}public{% else %}réservés aux membres{% endif %} sur le site.</div>
    {% endif %}

    {% if tools|length > 0 and type == 'public' %}
        <div class="col-md-12">
            <table class="table table-hover">
                {% for tool in tools %}
                    <tr class="row tool">
                        <td>{{ tool.fullname }}</td>
                        <td>
                            <a href="{{ tool.path }}">
                                <span class="glyphicon glyphicon-download"></span>
                                Télécharger
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% endif %}

    {% if categories|length > 0 %}
        <div class="col-md-12">
            {% for category in categories %}
                {% if (not category.forMembers and type == 'public') or (category.forMembers and type == 'members') %}
                    <h3>
                        {{ category.name }}
                        {% if category.forMembers %}- <b>Réservés aux membres de l'association</b>{% endif %}
                    </h3>

                    <table class="table table-hover">
                        {% for tool in category.tools %}
                            <tr class="row tool">
                                <td>{{ tool.fullname }}</td>
                                <td>
                                    {% if not category.forMembers or is_granted('ROLE_MEMBER') %}
                                    <a href="{{ tool.path }}">
                                        <span class="glyphicon glyphicon-download"></span>
                                        Télécharger
                                    </a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}