{% extends "::base.html.twig" %}

{% block title %}Les news - {{ parent() }}{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/aamvsite/css/News/index.css') }}">
{% endblock css %}

{% block body %}
    <h2>Les news</h2>

    {% for new in news %}
        <article>
            <header>{{ new.title }}</header>
            <section>{{ new.content }}</section>
            <footer>Par {{ new.author }}, le {{ new.createdAt|localizeddate('full', 'none') }}</footer>
        </article>
    {% endfor %}

    {% include '::pagination.html.twig' %}
{% endblock body %}