<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>AAMV</title>
		{% stylesheets 
			'@AamvSiteBundle/Resources/public/css/base.css'
			'@AamvSiteBundle/Resources/public/css/News/index.css' %}
			<link rel="stylesheet" type="text/css" href="{{ asset_url }}">
		{% endstylesheets %}
	</head>

	<body>
		<div id="titre">
			<img src="{{ asset('bundles/aamvsite/images/logo_enfant.png') }}" alt="petit gif d'enfant">
			<span id="bloc">
				<h1><span>A</span>ssociation des <span>A</span>ssistantes <span>M</span>aternelles <span>V</span>illeneuvoises</h1>
				<hr>
				<span class="small">et des Parents et ses Environs</span>
			</span>
			<img src="{{ asset('bundles/aamvsite/images/logo_enfant1.png') }}" alt="petit gif d'enfant">
		</div>

		<div id="nav">
			<ul>
				<li>News
					<ul>
						<li><a href=''>L'Association</a></li>
						<li><a href=''>Ses Réunions</a></li>
					</ul>
				</li>

				<li>L'association
					<ul>
						<li><a href=''>Présentation</a></li>
						<li><a href=''>Historique</a></li>
						<li><a href=''>Objectifs</a></li>
						<li><a href=''>Services A.M</a></li>
						<li><a href=''>Services Parents</a></li>
						<li><a href=''>Bulletin d'Adhésion</a></li>
					</ul>
				</li>

				<li>Services
					<ul>
						<li><a href=''>Petites Annonces</a></li>
						<li><a href='liste.html'>Liste d'Assistantes Maternelles</a></li>
						<li><a href=''>Assistantes Maternelles de Villeneuve d'Ascq</a></li>
						<li><a href=''>Autorisation</a></li>
						<li><a href=''>Questions/Réponses</a></li>
					</ul>
				</li>

				<li>Outils
					<ul>
						<li><a href=''>Outils</a></li>
						<li><a href=''>Formulaires</a></li>
						<li><a href=''>Bulletin de Salaire</a></li>
					</ul>
				</li>

				<li>Informations
					<ul>
						<li><a href=''>Tout savoir sur ...</a></li>
						<li><a href=''>Adresses</a></li>
						<li><a href=''>A voir</a></li>
					</ul>
				</li>

				<li>Contacts
					<ul>
						<li><a href=''>Une demande</a></li>
						<li><a href=''>Nous contacter</a></li>
					</ul>
				</li>

				<li><a href='forum'>Forum</a></li>

				<hr>

			</ul>
		</div>

		<div id="body">
			<div class="int">

				<a href="https://lenord.fr/jcms/j_6/accueil"><img src="{{ asset('bundles/aamvsite/images/nord.png') }}" alt="Logo du Nord"></a>
				<a href="http://www.mairie-villeneuvedascq.fr/"><img src="{{ asset('bundles/aamvsite/images/villeneuve.png') }}" alt="Logo de villeneuve"></a>
				<img id="logo" src="{{ asset('bundles/aamvsite/images/grand_logo.jpg') }}" alt="Grand Logo">

				<h2>News</h2>
				<div id="news">
					<div class="new">
						<div class="int">
							Prochaine réunion prévue pour le mois de Juin - Date à confirmer
						</div>
					</div>

					<div class="new">
						<div class="int">
							Augmentation du SMIC au 1er Janvier 2014 - Tarif horaire : 9.53€ brut
						</div>
					</div>

					<div class="new">
						<div class="int">
							Le nouveau bulletin d'adhésion 2014 est disponible
						</div>
					</div>

					<hr>
				</div>

				<h2>Mailing-Liste</h2>
				<div id="newsletter">
					<p>Inscrivez-vous et recevez les dernières informations de notre site</p>
					<form method="GET" action="">
						<input type="mail" name="mail" value="exemple@mail.fr"><input type="submit" value="Valider">
						<input id="non" type="radio" name="insc" value="non"><label for="non">Désinscription</label>
						<input id="oui" type="radio" name="insc" value="oui" checked><label for="oui">Inscription</label>
					</form>
					<hr>
				</div>

			</div>
		</div>

		

		<div id="foot">
			<div class="int">
				<div class="triangle gauche"></div>
				<div class="triangle droit"></div>
				Réalisation : <a href='http://damien-deconinck.fr'>Damien Deconinck</a> - 2014
			</div>
		</div>
	</body>
</html>