{% extends "AppBundle:Base:base.html.twig" %}

{% block title %}Documents - Administration - {{ parent() }}{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/css/Homepage/index.css') }}">
{% endblock css %}

{% block body %}
    <h2><a href="{{ path('admin') }}">Administration</a> / <a href="{{ path('admin_docs') }}">Documents</a> / Ajouter</h2>

    <a href="{{ path('admin_doc_categories_create') }}">Ajouter une catégorie</a>

    {{ form(form) }}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('vendor/ckeditor/ckeditor.js') }}"></script>
{% endblock javascripts %}
