{% extends "AppBundle:Base:base.html.twig" %}

{% block title %}Documents - Administration - {{ parent() }}{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/css/Admin/base.css') }}">
{% endblock css %}

{% block body %}
    <h2><a href="{{ path('admin') }}">Administration</a> / Documents</h2>

    {% for flash in app.session.flashbag.get('admin.docs.error') %}
        <div class="alert alert-danger">{{ flash }}</div>
    {% endfor %}

    {% for flash in app.session.flashbag.get('admin.docs.success') %}
        <div class="alert alert-success">{{ flash }}</div>
    {% endfor %}

    {% if categories|length == 0 %}
        <div class="alert alert-warning">Il n'y a encore aucun document sur le site.</div>
    {% endif %}

    <div class="alert alert-info"><a href="{{ path('admin_docs_create') }}">Cliquez ici</a> pour ajouter un document.</div>

    {% if categories|length > 0 %}
        {% for type in categories %}
            <h3>{{ type.name }}</h3>
            <table class="table table-striped table-hover table-tool">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nom</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for doc in type.tools %}
                        <tr>
                            <td>{{ doc.id }}</td>
                            <td>{{ doc.name }}</td></td>
                            <td>
                                <a class="btn btn-info" href="{{ path('admin_docs_edit', {'id': doc.id}) }}">Modifier</a>
                                <form method="POST" class="remove" action="{{ path('admin_docs_delete', {"id": doc.id}) }}">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <button class="btn btn-danger btn-normal">Supprimer</button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endfor %}
    {% endif %}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('vendor/jquery-confirm/jquery.confirm.min.js') }}"></script>
    <script src="{{ asset('vendor/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/app/js/Admin/default.js') }}"></script>
{% endblock javascripts %}
