{% extends 'AamvAdminBundle::base.html.twig' %}

{% block title %}Gestion des news Aamv {% endblock %}

{% block page_title %}
    <h1><i class="fa fa-file-o"></i> Gestion des News</h1>
    <h4>Affichage, création et modification des news</h4>
{% endblock %}

{% block specific_stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/aamvsite/css/Admin/news.css') }}">
{% endblock %}

{% block specific_javascripts %}
    <script type="text/javascript" src="{{ asset('bundles/aamvsite/js/Admin/edit.js') }}"></script>
{% endblock %}

{% block body %}
    {% for new in news %}
        <article data-id="{{ new.id }}" data-state="none">
            <aside><i class="fa fa-edit edit-news"></i></aside>
            <header><span class="edit" data-name="title">{{ new.title }}</span></header>
            <section><span class="edit" data-name="content">{{ new.content }}</span></section>
            <footer><span>Par {{ new.author }}, le {{ new.createdAt|localizeddate('full', 'none') }}</span></footer>
        </article>
    {% endfor %}

    {% include 'AamvDefaultBundle::pagination.html.twig' %}
{% endblock %}