{% extends "AamvDefaultBundle::base.html.twig" %}

{% block title %}Accueil - {{ parent() }}{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/aamvsite/css/Homepage/index.css') }}">
{% endblock css %}

{% block body %}
    <h2>{{ ad.title }}</h2>

    {% if ad.author == app.user %}
        <div class="alert alert-info">Modifier cette <a href="{{ path('aamv_site_manage_ads_edit', {id: ad.id}) }}">annonce</a>.</div>
    {% endif %}

    <div>
        <h3>Informations générales</h3>
        <div id="infos" class="col-md-12">

            <div class="col-md-6">
                <div class="row">
                    <label>Nom :</label>
                    <p>{{ ad.author.firstName }} {{ ad.author.name }}</p>
                </div>
                <div class="row">
                    <label>Ville :</label>
                    <p>{{ ad.author.city }}</p>
                </div>
                <div class="row">
                    <label>Jours de la semaine :</label>
                    <p>{{ ad.wishedDays|join(', ') }}</p>
                </div>
            </div>

            <div class="col-md-6">
                <div class="row">
                    <label>Début de la garde :</label>
                    <p>{{ ad.disponibilityDate|localizeddate('long', 'none', 'fr', null, "MMMM yyyy")|capitalize }}</p>
                </div>
                <div class="row">
                    <label>Quartier :</label>
                    <p>
                        {% if ad.author.city == "Villeneuve-d'Ascq" %}{{ ad.author.neighborhood }}
                        {% else %}Non précisé{% endif %}
                    </p>
                </div>
                {% if ad.author.baseRole == "ROLE_PARENT" %}
                <div class="row">
                    <label>Horaires :</label>
                    <p>{{ ad.schedule }}</p>
                </div>
                {% endif %}
            </div>
        </div>

        <hr class="clear">
    </div>

    <div>
        <h3>Contact</h3>
        <div id="contact" class="col-md-12">
            <div class="col-md-6">
                <div class="row">
                    <label>Numéro de téléphone :</label>
                    <p>{{ ad.author.phoneNumber }}</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <label>Adresse mail :</label>
                    <p>{{ ad.author.email }}</p>
                </div>
            </div>
        </div>

        <hr class="clear">
    </div>

    <div>
        <h3>Texte de l'annonce</h3>
        <div id='content' class="col-md-12">
            {{ ad.content|raw }}
        </div>

        <hr class="clear">
    </div>
    
    <div id="author">
        <p>Publiée le <strong>{{ ad.createdAt|localizeddate('long', 'none', 'fr') }}</strong> à <strong>{{ ad.createdAt|date('h:i') }}</strong></p>
        {% if ad.createdAt != ad.updatedAt %}<p>Modifiée le <strong>{{ ad.updatedAt|date('d/m/Y') }}</strong> à <strong>{{ ad.updatedAt|date('h:i:s') }}</strong></p>{% endif %}
    </div>
{% endblock %}