{% extends "AamvDefaultBundle::base.html.twig" %}

{% block title %}{{ title }} - {{ parent() }}{% endblock %}

{% block css %}
    {{ parent() }}

    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/aamvsite/css/Services/list_ad.css') }}">
{% endblock css %}

{% block body %}
    <h2 class="main">Petites annonces</h2>

    <div class="type">
        <label for="type">Annonces publiées par :</label>
        <select name="type" class="form-control">
            <option value="assistantes" {% if type == 'assistantes' %}selected="selected"{% endif %}>Assistantes Maternelles</option>
            <option value="parents" {% if type == 'parents' %}selected="selected"{% endif %}>Parents</option>
        </select>
    </div>

    <div class="city">
        <label for="city">Ville :</label>
        <select name="city" class="form-control">
            <option value="none" {% if city == 'none' %}selected="selected"{% endif %}>Villes disponible</option>
            {% for cityValue in cities %}
                <option value="{{ cityValue.city }}" {% if city == cityValue.city %}selected="selected"{% endif %}>{{ cityValue.city }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="neighborhood">
        <label for="neighborhood">Quartier :</label>
        <select name="neighborhood" class="form-control">
            <option value="none" {% if neighborhood == 'none' %}selected="selected"{% endif %}>Quartier disponible</option>
            {% for neighborhoodValue in neighborhoods %}
                <option value="{{ neighborhoodValue.neighborhood }}" {% if neighborhood == neighborhoodValue.neighborhood %}selected="selected"{% endif %}>{{ neighborhoodValue.neighborhood }}</option>
            {% endfor %}
        </select>
    </div>

    <hr>

    {% if publishables|length == 0 %}
        <p class="nothing">Il n'y a rien ici pour le moment.</p>
    {% endif %}
    {% for publishable in publishables %}
        <a href="{{ path('aamv_site_services_ad_show', {id: publishable.id}) }}"><article>
            <header>{{ publishable.title }}</header>
            <footer>Publiée par {{ publishable.author.firstname }} {{ publishable.author.name }}, le {{ publishable.createdAt|localizeddate('full', 'none') }}</footer>
        </article></a>
    {% endfor %}

    {% include 'AamvDefaultBundle::pagination.html.twig' %}
{% endblock body %}

{% block javascripts %}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
    <script src="{{ asset('bundles/aamvsite/js/list_ad.js') }}"></script>
{% endblock javascripts %}
