{% extends "AamvDefaultBundle::base.html.twig" %}

{% block title %}Outils - {{ parent() }}{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/aamvsite/css/Services/outils.css') }}">
{% endblock css %}

{% block body %}
    <h2>Outils</h2>

    {% if tools.aamv|length > 0 %}
        <p>Voici les outils que nous mettons à votre disposition :</p>

        <ul>
        {% for tool in tools.aamv %}
            <li>
                {{ tool.name }} - mis à jour le <strong>{{ tool.updatedAt|date('d/m/Y') }}</strong>
                <a href="/public/tools/aamv/{{ tool.realName }}"><span class="glyphicon glyphicon-download"></span> Télécharger</a>
            </li>
        {% endfor %}
        </ul>
    {% endif %}

    {% if tools.veronalice|length > 0 %}
        <p>Voici les outils mis à votre disposition gracieusement par le site "<a href="http://chezveronalice.pagesperso-orange.fr/">ChezVeronalice</a>" :</p>

        <ul>
        {% for tool in tools.veronalice %}
            <li>
                {{ tool.name }} - mis à jour le <strong>{{ tool.updatedAt|date('d/m/Y') }}</strong>
                <a href="/public/tools/veronalice/{{ tool.realName }}"><span class="glyphicon glyphicon-download"></span> Télécharger</a>
            </li>
        {% endfor %}
        </ul>
    {% endif %}
{% endblock %}