<!-- BEGIN Sidebar -->
<div id="sidebar" class="navbar-collapse collapse">
    <!-- BEGIN Navlist -->
    <ul class="nav nav-list">
        <!-- BEGIN Search Form -->
        <!--<li>
            <form target="#" method="GET" class="search-form">
                                <span class="search-pan">
                                    <button type="submit">
                                        <i class="fa fa-search"></i>
                                    </button>
                                    <input type="text" name="search" placeholder="Search ..." autocomplete="off" />
                                </span>
            </form>
        </li>-->
        <!-- END Search Form -->
        <li class="active">
            <a href="{{ path('aamv_admin_dashboard') }}">
                <i class="fa fa-dashboard"></i>
                <span>Dashboard</span>
            </a>
        </li>

        <li>
            <a href="#" class="dropdown-toggle">
                <i class="fa fa-pencil-square"></i>
                <span>News</span>
                <b class="arrow fa fa-angle-right"></b>
            </a>

            <ul class="submenu">
                <li><a href="{{ path('aamv_admin_news') }}">Les News</a></li>
            </ul>
        </li>

        {# <li>
            <a href="#" class="dropdown-toggle">
                <i class="fa fa-arrow-circle-right"></i>
                <span>Aller sur le site</span>
                <b class="arrow fa fa-angle-right"></b>
            </a>

            <ul class="submenu">
                <li><a href="{{ path('aamv_peps_homepage') }}" target="_blank">Accueil</a></li>
                <li><a href="{{ path('aamv_peps_results') }}" target="_blank">Résultats</a></li>
                <li><a href="{{ path('aamv_peps_aide') }}" target="_blank">Aide à la vente</a></li>
                <li><a href="{{ path('aamv_peps_comclient') }}" target="_blank">Com'Client</a></li>
                <li><a href="{{ path('aamv_peps_lupresse') }}" target="_blank">Lu dans la presse</a></li>
            </ul>
        </li> #}

    </ul>
    <!-- END Navlist -->

    <!-- BEGIN Sidebar Collapse Button -->
    <div id="sidebar-collapse" class="visible-lg">
        <i class="fa fa-angle-double-left"></i>
    </div>
    <!-- END Sidebar Collapse Button -->
</div>
<!-- END Sidebar -->