{% extends "@AppBundle/Base/base.html.twig" %}

{% block title %}News - Administration - {{ parent() }}{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/css/Homepage/index.css') }}">
{% endblock css %}

{% block body %}
    <h2><a href="{{ path('admin') }}">Administration</a> / <a href="{{ path('admin_news') }}">News</a> / {{ news.id }}</h2>

    {{ form(form) }}
{% endblock %}

{% block javascripts %}
    <script src="https://cdn.ckeditor.com/4.22.1/standard/ckeditor.js"></script>
{% endblock javascripts %}
