{% extends "AamvDefaultBundle::base.html.twig" %}

{% block title %}Accueil - {{ parent() }}{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/aamvsite/css/Homepage/index.css') }}">
{% endblock css %}

{% block body %}
    <a href="https://lenord.fr/jcms/j_6/accueil"><img src="{{ asset('bundles/aamvdefault/images/nord.png') }}" alt="Logo du Nord"></a>
    <a href="http://www.mairie-villeneuvedascq.fr/"><img src="{{ asset('bundles/aamvdefault/images/villeneuve.png') }}" alt="Logo de villeneuve"></a>
    <img id="logo" src="{{ asset('bundles/aamvdefault/images/grand_logo.jpg') }}" alt="Grand Logo">

    <h2>News</h2>
    <div id="news">
        <div class="new">
            <div class="int">
                Prochaine réunion prévue pour le mois de Juin - Date à confirmer
            </div>
        </div>

        <div class="new">
            <div class="int">
                Augmentation du SMIC au 1er Janvier 2014 - Tarif horaire : 9.53€ brut
            </div>
        </div>

        <div class="new">
            <div class="int">
                Le nouveau bulletin d'adhésion 2014 est disponible
            </div>
        </div>

        <hr>
    </div>
{% endblock %}