{% extends "AamvDefaultBundle::base.html.twig" %}

{% block title %}Accueil - {{ parent() }}{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/aamvsite/css/Homepage/index.css') }}">
{% endblock css %}

{% block body %}
    <a href="https://lenord.fr/jcms/j_6/accueil"><img src="{{ asset('bundles/aamvdefault/images/nord.png') }}" alt="Logo du Nord"></a>
    <a href="http://www.mairie-villeneuvedascq.fr/"><img src="{{ asset('bundles/aamvdefault/images/villeneuve.png') }}" alt="Logo de villeneuve"></a>
    <img id="logo" src="{{ asset('bundles/aamvdefault/images/grand_logo.jpg') }}" alt="Grand Logo">

    <h2>News</h2>
    <div id="news">
        {% for new in publishables %}
        <a href="">
            <div class="new">
                <div class="title">
                    <h3>{{ new.title|raw|slice(0, 150) }} {% if new.title|length > 150 %}...{% endif %}</h3>
                </div>
            </div>
        </a>
        {% endfor %}

        <hr>
    </div>
{% endblock %}