{% extends "AamvDefaultBundle::base.html.twig" %}

{% block title %}Accueil - {{ parent() }}{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/aamvsite/css/Homepage/index.css') }}">
{% endblock css %}

{% block body %}
    <h2>{{ new.title }}</h2>

    <div id="author">
        <p>Publiée le <strong>{{ new.createdAt|date('d/m/Y') }}</strong> à <strong>{{ new.createdAt|date('h:i:s') }}</strong></p>
        <p>Par <a href="">{{ new.author.firstname }} {{ new.author.name }}</a></p>
        {% if new.createdAt != new.updatedAt %}<p>Modifiée le <strong>{{ new.updatedAt|date('d/m/Y') }}</strong> à <strong>{{ new.updatedAt|date('h:i:s') }}</strong></p>{% endif %}
    </div>

    <div id='content'>
        {{ new.content|raw }}
    </div>
{% endblock %}