{% extends "AamvDefaultBundle::base.html.twig" %}

{% block title %}Accueil - {{ parent() }}{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/aamvsite/css/Homepage/index.css') }}">
{% endblock css %}

{% block body %}
    <div id="author">
        <p>Publiée le <strong>{{ news.createdAt|localizeddate('long', 'none', 'fr') }}</strong> à <strong>{{ news.createdAt|date('h:i') }}</strong></p>
        <p>Par <a href="">{{ news.author.firstname }} {{ news.author.name }}</a></p>
        {% if news.createdAt != news.updatedAt %}<p>Modifiée le <strong>{{ news.updatedAt|date('d/m/Y') }}</strong> à <strong>{{ news.updatedAt|date('h:i:s') }}</strong></p>{% endif %}
    </div>

    <h2>{{ news.title }}</h2>

    <div id='content'>
        {{ news.content|raw }}
    </div>
{% endblock %}